nav.nav-extended{
    height: 175px;
}

#bienvenue {
    margin-top: 50px;
}

#menu {
    margin-top: 50px;
}

.card-pokemon {
    width: 18%;
    padding: 0px;
    padding-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}


.card-pokemon .col .row{
    margin-bottom: 0px;
}

.card-pokemon .col .row h6{
    margin-top: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#loading{
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.hide{
  display: none;
}

#card-pokemon-detail{
  width: 75%;
  height: 95%;
  margin: auto;

  overflow-y: scroll;
  overflow-x: hidden;

  border: teal solid 3px;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
}


#card-pokemon-detail #card-pokemon-etc{
  width: 100%;
}

.skills-bars {
  height: 350px;
  position: relative;
  opacity: 0;
  transition: opacity 1.2s ease-out 0s;
  width: 600px;
}

.skills-item {
  border-right: 3px solid #fff;
  bottom: 0;
  height : 0;
  position: absolute;
  transition: height 1.2s ease-in-out 0s;
}

.skills-item:nth-child(2n) {
  background-color: #f28c83;
}

.skills-item:nth-child(2n+1) {
  background-color: #509b9e;
}

.percent {
  display: block;
  font-size: 1.2em;
  position: absolute;
  text-align: center;
  top: -30px;
  width: 100%;
}

.skills-item p {
  bottom: -40px;
  position: absolute;
  text-align: center;
  width: 100%;
}